@import "tailwindcss";
@plugin '@tailwindcss/typography';

:root {
  --background: hsl(0, 0%, 100%);
  --foreground: hsl(0, 0%, 13%);
  --foreground-muted: hsl(111, 4%, 39%);

  --primary-300: hsl(92 25% 88%);
  --primary-500: hsl(127 23% 40%);
  --primary: hsl(104, 28%, 13%);

  --accent: hsl(131, 25%, 38%);
  --muted: hsl(0, 0%, 91%);
  --muted-alt: hsl(45, 34%, 90%);
  --highlight: hsl(38, 27%, 94%);
  --error: hsl(0, 100%, 95%);
  --success: hsl(90, 56%, 84%);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-foreground-muted: var(--foreground-muted);

  --color-border: var(--border);
  --color-primary: var(--primary);
  --color-primary-300: var(--primary-300);
  --color-primary-500: var(--primary-500);
  --color-accent: var(--accent);
  --color-muted: var(--muted);
  --color-muted-alt: var(--muted-alt);
  --color-highlight: var(--highlight);
  --color-success: var(--success);
  --color-error: var(--error);
  --color-border: var(--muted-alt);

  --font-sans: var(--font-workSans);
  --font-mono: var(--font-dmMono);
}

@layer base {
  body {
    @apply bg-background text-foreground;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  ::selection {
    background: var(--muted-alt);
  }
}

@layer components {
  h1,
  h2,
  h3,
  h4 {
    letter-spacing: var(--tracking-tight);
  }

  h1 {
      @apply text-6xl lg:text-7xl font-semibold leading-tight;
  }

  h3 {
    @apply text-4xl lg:text-5xl font-bold leading-tight;
  }

  h4 {
    @apply text-2xl lg:text-3xl font-semibold leading-tight;
  }

  h5 {
    @apply text-xl lg:text-2xl font-semibold;
  }

  p {
    @apply text-lg font-medium leading-relaxed;
    color: var(--color-foreground-muted);
    letter-spacing: var(--tracking-tight);
  }
}

@utility prose {
  --tw-prose-body: var(--color-primary);
}
